.menu {
  background-color: #171e28;
  color: #fff;
  height: 80px;
  padding: 0 var(--padding-hor);
  display: flex;
  align-items: center;
}

.menu-item {
  background: linear-gradient(90deg, #0b121c, #171e28);
  padding: 0 20px;
  height: 100%;
  vertical-align: middle;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
