.menu {
  background-color: #171e28;
  color: #fff;
  min-height: 80px;
  padding: 0 var(--padding-hor);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

@media (max-width: 787px) {
  .menu {
    grid-template-columns: 1fr 1fr 1fr !important;
    padding: 0;
  }
  .menu-item {
    padding: 0 15px;
  }
}

.menu-item {
  background: linear-gradient(90deg, #0b121c, #171e28);
  padding: 0 20px;
  height: 100%;
  vertical-align: middle;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
