.footer {
  padding: 40px var(--padding-hor);
}

.logo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "logo contact";
  padding-bottom: 40px;
  border-bottom: 1px solid #41b8ea;
}

@media (max-width: 820px) {
  .logo {
    grid-template-areas: "logo" "contact";
    gap: 10px;
  }
}

.foot-log-img {
  grid-area: logo;
  height: 40px;
}

.contact {
  grid-area: contact;
  display: grid;
  grid-template-areas: "call email social";
  gap: 5px;
  align-items: center;
}

@media (max-width: 787px) {
  .contact {
    grid-template-areas: "call" "email" "social";
  }
  .contact-item + .contact-item {
    border: none !important;
  }

  .site {
    justify-content: flex-start !important;
  }

  .selector {
    margin-top: 20px !important;
  }
}

.call {
  grid-area: call;
}

.email {
  grid-area: email;
}

.social {
  grid-area: social;
}

.contact-social {
  display: flex;
  gap: 4px;
}

.site-container {
  padding: 40px 0px;
}

.site {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  color: #707070;
}

.sitemap {
  color: #41b8ea;
  font-weight: bold;
  text-decoration-line: underline;
}

.selector {
  width: 180px;
  height: 50px;
  margin-top: -10px;
  position: relative;
}

select {
  width: 100%;
  height: 100%;
  border-color: #41b8ea;
  border-radius: 0 10px 10px 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #132a4a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selector::after {
  content: "^";
  rotate: 180deg;
  text-align: center;
  color: #41b8ea;
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: -5px;
  z-index: 999;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}

.declare {
  color: #707070;
  font-size: 16px;
}
