* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

:root {
  --padding-hor: 260px;
}

@media (max-width: 1200px) {
  :root {
    --padding-hor: 20px;
  }
}

.content {
  padding: 0 var(--padding-hor);
}
